@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  /* font-size: 16px;  */
}

body {
  line-height: 1;
  color: #000000;
  background-color: #F7F6F3;
  font-family: "Inter";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ------------------------------ */
/* ------------------------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

._ibg {
  position: relative;
}
._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
/* Условные планшеты */
/* Условные мобилки */
[class*=__container] {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* №1 */
@media (max-width: 1140px) {
  [class*=__container] {
    max-width: 970px;
  }
}
/* №2 */
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
/* №3 */
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
.header {
  margin: 0px 0px 18px 0px;
  /* №3 */
}
@media (max-width: 767.98px) {
  .header {
    margin-bottom: 34px;
  }
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px 0;
  /* №3 */
}
@media (max-width: 991.98px) {
  .header__items {
    padding: 32px 0;
  }
}
@media (max-width: 767.98px) {
  .header__items {
    padding: 30px 0;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  -webkit-transform: translate(0px, -2px);
      -ms-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
  /* №3 */
}
.header__logo::before {
  content: "";
  width: 60px;
  height: 60px;
  display: inline-block;
  background: url("../img/bj/Frame6.svg") 0 0 no-repeat;
  -webkit-transform: translate(0px, 2px);
      -ms-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
  margin-right: 9px;
}
@media (max-width: 991.98px) {
  .header__logo {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 767.98px) {
  .header__logo {
    font-size: 19px;
    line-height: 23px;
  }
  .header__logo::before {
    content: "";
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url("../img/bj/Frame6.svg") 0 0/40px 40px no-repeat;
    -webkit-transform: translate(0px, 2px);
        -ms-transform: translate(0px, 2px);
            transform: translate(0px, 2px);
    margin-right: 9px;
  }
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  /* №3 */
}
@media (max-width: 767.98px) {
  .header__menu {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .header__menu {
    font-size: 16px;
  }
}
.header__point {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__point:hover {
  text-shadow: 0.4px 0px 0px #000000, -0.4px 0px 0px #000000;
}
.header__link {
  color: #000000;
}
.header__button {
  font-weight: 500;
  font-size: 22.5174px;
  line-height: 27px;
  color: #FFFFFF;
  padding: 14px 42px;
  background: #000000;
  border-radius: 14px;
}
@media (max-width: 767.98px) {
  .header__button {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__button {
    font-size: 16px;
    line-height: 19px;
    padding: 12px 24px;
  }
}
@media (max-width: 991.98px) {
  .header__button {
    font-size: 16px;
    line-height: 19px;
    padding: 12px 24px;
  }
}

.customers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 94px;
}
@media (max-width: 991.98px) {
  .customers__items {
    margin-bottom: 63px;
  }
}
.customers__img_1 {
  padding: 24px 0px 0px 0px;
}
@media (max-width: 767.98px) {
  .customers__img_1 {
    display: none;
  }
}
.customers__img_2 {
  padding: 62px 0px 0px 0px;
}
@media (max-width: 767.98px) {
  .customers__img_2 {
    display: none;
  }
}
.customers__image_1 {
  width: 100%;
}
.customers__image_2 {
  width: 100%;
}
.customers__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .customers__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.customers__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  margin: 0px 0px 44px 0px;
}
@media (max-width: 1140px) {
  .customers__title {
    font-size: 45px;
  }
}
@media (max-width: 991.98px) {
  .customers__title {
    font-size: 36px;
    line-height: 44px;
    margin: 0px 0px 28px 0px;
  }
}
@media (max-width: 374.98px) {
  .customers__title {
    font-size: 30px;
    line-height: 35px;
  }
}
.customers__text {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  /* or 31px */
  text-align: center;
  margin: 0px 0px 52px 0px;
  /* №3 */
}
@media (max-width: 1140px) {
  .customers__text {
    font-size: 17px;
  }
}
@media (max-width: 991.98px) {
  .customers__text {
    font-size: 15px;
    line-height: 140%;
  }
}
@media (max-width: 767.98px) {
  .customers__text {
    font-size: 15px;
    line-height: 140%;
    margin-bottom: 40px;
  }
}
.customers__button {
  display: inline-block;
  font-weight: 500;
  font-size: 22.5174px;
  line-height: 27px;
  color: #FFFFFF;
  padding: 14px 42px;
  background: #000000;
  border-radius: 14px;
}

.items-who__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 50px;
  margin-bottom: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  .items-who__container {
    margin-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .items-who__container {
    margin-bottom: 50px;
  }
}
.items-who__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}
@media (max-width: 767.98px) {
  .items-who__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }
}
.items-who__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}
@media (max-width: 767.98px) {
  .items-who__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.items-who__img {
  width: 100%;
}
.items-who__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 1140px) {
  .items-who__title {
    font-size: 30px;
    margin: 0px 0px 15px 0px;
  }
}
@media (max-width: 991.98px) {
  .items-who__title {
    font-size: 25px;
    line-height: 44px;
    margin: 0px 0px 10px 0px;
  }
}
@media (max-width: 374.98px) {
  .items-who__title {
    font-size: 20px;
    line-height: 35px;
  }
}
.items-who__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 155%;
  /* №3 */
}
@media (max-width: 1140px) {
  .items-who__text {
    font-size: 17px;
  }
}
@media (max-width: 991.98px) {
  .items-who__text {
    font-size: 15px;
    line-height: 140%;
  }
}
@media (max-width: 767.98px) {
  .items-who__text {
    font-size: 15px;
    line-height: 140%;
  }
}

.items-who__image_2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 767.98px) {
  .items-who__image_2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.items-who__item_2 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 767.98px) {
  .items-who__item_2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.hurry-up {
  margin-bottom: 66px;
}
.hurry-up__container {
  background: #000000;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hurry-up__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 126%;
  /* identical to box height, or 28px */
  padding: 0px 0px 0px 17px;
  color: #FFFFFF;
}
.hurry-up__button {
  display: inline-block;
  background: #ffffff;
  font-weight: 600;
  font-size: 22px;
  line-height: 126%;
  /* identical to box height, or 28px */
  text-align: center;
  color: #161719;
  border-radius: 10px;
  padding: 14px 42px;
}