@import "_mixins";

/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "_null";

body {
	line-height: 1;
	color: #000000;
	background-color: #F7F6F3;
	font-family: "Inter";
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* ------------------------------ */


/* ------------------------------ */

.main {
	flex-grow: 1;
}

._ibg {
	position: relative;

	img {
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

// Миксин IBG
@mixin ibg($position: center) {
	position: relative;

	img {
		object-fit: cover;
		object-position: $position;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
@media (max-width: 1050px) {}

/* Условные планшеты */
@media (max-width: 991.98px) {}

/* Условные мобилки */
@media (max-width: 767.98px) {}

[class*="__container"] {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
}

/* №1 */
@media (max-width: 1140px) {
	[class*="__container"] {
		max-width: 970px;
	}
}

/* №2 */
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}

/* №3 */
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}



.header {
	// width: 100%;
	margin: 0px 0px 18px 0px;
	@media (max-width: 1024px) {
			
	}
	@media (max-width: 991.98px) {
	}
	
	/* №3 */
	@media (max-width: 767.98px) {
		margin-bottom: 34px;
	}
	&__container {}

	// .header__items

	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 90px 0;
		@media (max-width: 1024px) {
			
		}
		@media (max-width: 991.98px) {
			padding: 32px 0;
		}
		
		/* №3 */
		@media (max-width: 767.98px) {
			padding: 30px 0;
		}
	}

	// .header__logo

	&__logo {
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 28px;
		line-height: 34px;
		transform: translate(0px, -2px);
		&::before {
			content: "";
			width: 60px;
			height: 60px;
			display: inline-block;
			background: url('../img/bj/Frame6.svg') 0 0 no-repeat;
			transform: translate(0px, 2px);
			margin-right: 9px;
		}
		@media (max-width: 1024px) {
			
		}
		@media (max-width: 991.98px) {
			font-size: 24px;
			line-height: 29px;
		}
		
		/* №3 */
		@media (max-width: 767.98px) {
			font-size: 19px;
			line-height: 23px;
			&::before {
				content: "";
				width: 40px;
				height: 40px;
				display: inline-block;
				background: url('../img/bj/Frame6.svg') 0 0 / 40px 40px no-repeat;
				transform: translate(0px, 2px);
				margin-right: 9px;
			}
		}
	}

	// .header__img

	&__img {}

	// .header__title

	&__title {
		
	}

	// .header__menu

	&__menu {
		// flex: 0 0 37%;
		// width: 37%;
		display: flex;
		column-gap: 45px;
		font-weight: 500;
		font-size: 21px;
		line-height: 26px;
		@media (max-width: 767.98px) {
			display: none;
		}
		@media (max-width: 991.98px) {
			font-size: 16px;
		}
		
		/* №3 */
		@media (max-width: 767.98px) {

		}
	}

	// .header__point

	&__point {
		transition: all 0.3s ease 0s;
		&:hover {
			// font-weight: 700;
			// border-bottom: 3px solid #000000;
			text-shadow: .4px 0px 0px #000000, -.4px 0px 0px #000000;
		}
	}

	&__link {
		color: #000000;
	}
	&__button {
		font-weight: 500;
		font-size: 22.5174px;
		line-height: 27px;
		color: #FFFFFF;
		padding: 14px 42px;
		background:#000000;
		border-radius: 14px;
		@media (max-width: 767.98px) {
			display: none;
		}
		@media (max-width: 768px) {
			font-size: 16px;
			line-height: 19px;
			padding: 12px 24px;
		}
		@media (max-width: 991.98px) {
			font-size: 16px;
			line-height: 19px;
			padding: 12px 24px;
		}
	}
}

.customers {

	// .customers__container

	&__container {
	}

	// .customers__items

	&__items {
		display: flex;
		justify-content: space-between;
		margin-bottom: 94px;
		@media (max-width: 767.98px) {
			
		}
		@media (max-width: 991.98px) {
			margin-bottom: 63px;
		}
	}

	// .customers__img

	&__img_1 {
		padding: 24px 0px 0px 0px;
		@media (max-width: 767.98px) {
			display: none;
		}
	}
	&__img_2 {
		padding: 62px 0px 0px 0px;
		@media (max-width: 767.98px) {
			display: none;
		}
	}
	// .customers__image

	&__image_1 {
		width: 100%;
	}
	&__image_2 {
		width: 100%;
	}
	// .customers__item

	&__item {
		flex: 0 0 44%;
		display: flex;
		flex-direction: column;
		align-items:center;
		@media (max-width: 767.98px) {
			flex: 0 0 100%;
		}
	}

	// .customers__title

	&__title {
		font-weight: 600;
		font-size: 55px;
		line-height: 67px;
		text-align: center;
		margin: 0px 0px 44px 0px;
		@media (max-width: 1140px) {
			font-size: 45px;
		}
		@media (max-width: 991.98px) {
			font-size: 36px;
			line-height: 44px;
			margin: 0px 0px 28px 0px;
		}
		@media (max-width: 374.98px) {
			font-size: 30px;
			line-height: 35px;
		}
	}

	// .customers__text

	&__text {
		font-weight: 500;
		font-size: 22px;
		line-height: 140%;
		/* or 31px */

		text-align: center;
		margin: 0px 0px 52px 0px;
		@media (max-width: 1140px) {
			font-size: 17px;
		}
		@media (max-width: 991.98px) {
			font-size: 15px;
			line-height: 140%;
		}
		
		/* №3 */
		@media (max-width: 767.98px) {
			font-size: 15px;
			line-height: 140%;
			margin-bottom: 40px;
		}
		
	}
	&__button {
		display: inline-block;
		font-weight: 500;
		font-size: 22.5174px;
		line-height: 27px;
		color: #FFFFFF;
		padding: 14px 42px;
		background:#000000;
		border-radius: 14px;
		
	}
}

.who {
}
.items-who {

		// .items-who__container

		&__container {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			row-gap: 50px;
			margin-bottom: 100px;
			justify-content:space-between;
			@media (max-width: 991.98px) {
				margin-bottom: 60px;
			}
			@media (max-width: 767.98px) {
				margin-bottom: 50px;
			}
		}
		// .items-who__item

		&__item {
			flex: 0 0 45%;
			// padding: 0px 0px 0px 50px;
			// @media (max-width: 1140px) {
			// 	padding: 0px 0px 0px 40px;
			// }
			// @media (max-width: 991.98px) {
			// 	padding: 0px 0px 0px 30px;
			// 	min-width: 200px;

			// }
			
			@media (max-width: 767.98px) {
				flex: 0 0 100%;
				text-align: center;
			}
			// @media (max-width: 374.98px) {
			// 	min-width: 280px;
			// }
			// min-width: 369px;
		}

		// .items-who__image

		&__image {
			flex: 0 0 45%;
			@media (max-width: 767.98px) {
				flex: 0 0 100%;
			}
			// padding: 0px 50px 0px 0px;
			// @media (max-width: 1140px) {
			// 	padding: 0px 40px 0px 0px;
			// }
			// @media (max-width: 991.98px) {
			// 	padding: 0px 30px 0px 0px;
			// }
			// @media (max-width: 767.98px) {
			// 	padding: 0;
			// }
			// @media (max-width: 374.98px) {
			// }
		}

		// .items-who__img

		&__img {
			width: 100%;
		}

		// .items-who__title

		&__title {
			font-weight: 600;
			font-size: 40px;
			line-height: 48px;
			margin: 0px 0px 20px 0px;
			@media (max-width: 1140px) {
				font-size: 30px;
				margin: 0px 0px 15px 0px;
			}
			@media (max-width: 991.98px) {
				font-size: 25px;
				line-height: 44px;
				margin: 0px 0px 10px 0px;
			}
			@media (max-width: 374.98px) {
				font-size: 20px;
				line-height: 35px;
			}
		}

		// .items-who__text

		&__text {
			font-weight: 500;
			font-size: 24px;
			line-height: 155%;
			@media (max-width: 1140px) {
				font-size: 17px;
			}
			@media (max-width: 991.98px) {
				font-size: 15px;
				line-height: 140%;
			}
			
			/* №3 */
			@media (max-width: 767.98px) {
				font-size: 15px;
				line-height: 140%;
			}
		}
}

.who {
}
.items-who {
		
		// .items-who_2

		&_2 {

		}

		// .items-who__container

		&__container {

			// .items-who__container_2

			&_2 {
			}
		}

		// .items-who__image

		&__image {

			// .items-who__image_2

			&_2 {
				order:2;
				@media (max-width: 767.98px) {
					order:1;
				}
			}
		}

		// .items-who__img

		&__img {

			// .items-who__img_2

			&_2 {
				
			}
		}

		// .items-who__item

		&__item {

			// .items-who__item_2

			&_2 {
				order:1;
				@media (max-width: 767.98px) {
					order:2;
				}
			}
		}

		// .items-who__title

		&__title {

			// .items-who__title_2

			&_2 {
			}
		}

		// .items-who__text

		&__text {

			// .items-who__text_2

			&_2 {
			}
		}
}

.hurry-up {
	margin-bottom: 66px;
	// .hurry-up__container

	&__container {
		background: #000000;
		border-radius: 18px;
		display: flex;
		justify-content: space-between;
		padding: 18px;
		align-items:center;
	}

	// .hurry-up__title

	&__title {
		font-weight: 600;
		font-size: 22px;
		line-height: 126%;
		/* identical to box height, or 28px */

		padding: 0px 0px 0px 17px;
		color: #FFFFFF;
	}

	// .hurry-up__button

	&__button {
		display: inline-block;
		background: #ffffff;
		font-weight: 600;
		font-size: 22px;
		line-height: 126%;
		/* identical to box height, or 28px */

		text-align: center;

		color: #161719;
		border-radius: 10px;
		padding: 14px 42px;
	}
}
